/* Basic Style */

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.body-header {
  margin: 0 auto;
  display: block;
  width: 500px;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link-info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .body-header { 
    text-align: center;
  }

}

.body-main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.new-task__input-for-name,
.task__input-name,
.task__label-name {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.new-task {
  display: flex;
}

.section__list {
  margin: 0;
  padding: 0px;
}

.new-task__btn-add,
.task__btn-edit,
.task__btn-delete {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.new-task__btn-add:hover,
.task__btn-edit:hover {
  color: #3a3a3a;
}

/* Heading */
.section__heading {
  list-style: none;
  display: block;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
  padding: 30px 0 10px;
  margin: 0;
}

.new-task__input-for-name,
.task__input-name {
  outline: none;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.new-task__input-for-name:focus,
.task__input-name:focus {
  color: #333;
}

/* New Task */

.section__new-task {
  padding: 20px 0 16px 0;
}

.new-task__input-for-name {
  width: 318px;
}

/* Task list */

.section__task {
  padding: 20px 0;
}

.task {
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__input-check {
  margin: 0 10px;
}

.task__label-name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__input-name {
  width: 226px;
}

.task__btn-delete-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__btn-delete-icon:hover {
  transform: rotateZ(0);
}

/* Completed */

.section__list_complete-tasks .task__label-name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.task__input-name {
  display: none;
}

.task_edit-mode .task__label-name {
  display: none;
}

.task_edit-mode .task__input-name {
  display: inline-block;
  width: 224px;
}